/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  --clr-primary: #2c2b2b;
  --clr-body: rgb(32, 28, 28);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: rgb(32, 28, 28);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-family: var(--ff-primary);
}
/*
=============== 
Main Section
===============
*/
.section-main {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
}
.section-main::-webkit-scrollbar {
  width: 0.75rem;
}
.section-main::-webkit-scrollbar-track {
  background: #3d3a3a;
}
.section-main::-webkit-scrollbar-thumb {
  background: rgb(214, 210, 210);
  border-radius: 100vw;
}
/*
=============== 
Section Navbar
===============
*/
.section-navbar {
  width: 100%;
  min-height: 3.5rem;
  background: var(--clr-primary);
  opacity: 0.99;
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 210px 1fr 230px;
  z-index: 5;
}
/* Navbar Left */
.navbar-left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-toggle-btn {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1.2rem;
  transition: var(--transition);
}
.navbar-logo-container {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}
.navbar-icon {
  background: transparent;
  border: transparent;
  color: red;
  font-size: 1.7rem;
  margin-top: 0.1rem;
  position: relative;
  z-index: 1;
}
.navbar-icon::before {
  content: "";
  background: white;
  font-size: 1.7rem;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: -1;
}
.navbar-logo-container p {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  margin-left: 0.1rem;
}
.navbar-logo-container sup {
  font-size: 0.6rem;
  font-weight: lighter;
}
/* Navbar Middle */
.navbar-middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
}
.navbar-middle-form {
  /* width: 63%; */
  flex: 0.7;
  height: 2.5rem;
  margin-left: 0.5rem;
  position: relative;
}
.navbar-search {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  text-transform: capitalize;
  height: 100%;
  width: 100%;
  background: #202020;
  border: 1px solid #494949;
  color: white;
  padding-right: 2.5rem;
}
.navbar-search:focus {
  outline: none;
  border: 1px solid rgb(4, 159, 248);
}
.btn-cross {
  color: white;
  position: absolute;
  right: 0.5rem;
  top: 0.7rem;
  font-size: 1.3rem;
  cursor: pointer;
}
.navbar-btn-search {
  padding: 0 1.25rem;
  border-color: transparent;
  background: #494949;
  height: 2.5rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.navbar-btn-search i {
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
}
.navbar-btn-microphone {
  height: 2.5rem;
  width: 2.5rem;
  border-color: transparent;
  border-radius: 50%;
  background: #202020;
  cursor: pointer;
  margin-left: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

/* Navbar Right */
.navbar-right {
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0 1.2rem;
}
.navbar-links {
  display: flex;
  align-items: center;
  width: 100%;
  height: 34px;
  justify-content: space-between;
  margin-right: 0.5rem;
}
.avater-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.icon {
  height: 34px;
  width: 34px;
  background: transparent;
  border-radius: 50%;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  display: grid;
  place-items: center;
}
@media screen and (max-width: 800px) {
  .navbar-middle-form {
    display: none;
  }
  .navbar-btn-search {
    height: 2.5rem;
    width: 2.5rem;
    border-color: transparent;
    border-radius: 50%;
    background: #202020;
    cursor: pointer;
    padding: 0 0;
  }
}
@media screen and (max-width: 600px) {
  .navbar-btn-microphone {
    margin-left: 0.25rem;
  }
  .section-navbar {
    grid-template-columns: 195px 1fr 195px;
  }
  .navbar-logo-container p {
    font-size: 1.1rem;
    margin-left: 0.1rem;
  }
  .navbar-middle {
    padding-right: 0.05rem;
    padding-left: 0.95rem;
  }
}
.show-navbar-middle-form {
  display: block;
  margin-right: 0.5rem;
}
.changed-section-navbar {
  grid-template-columns: 10% 1fr;
  transition: var(--transition);
}
.hide-element {
  display: none;
}
.btn-back {
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.back-arrow-div {
  display: grid;
  place-items: center;
  display: none;
}
.show-element {
  display: grid;
}
.changed-navbar-middle-form {
  flex: 1;
  margin-left: 0;
}

/*
=============== 
Section Menus
===============
*/
.section-menus {
  width: 15rem;
  height: 91vh;
  background: var(--clr-primary);
  position: fixed;
  top: 3.5rem;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  display: block;
  z-index: 5;
}
.hide-section-menus {
  display: none;
}
.section-menus::-webkit-scrollbar {
  width: 0.75rem;
}
.section-menus::-webkit-scrollbar-track {
  background: #3d3a3a;
}
.section-menus::-webkit-scrollbar-thumb {
  background: rgb(214, 210, 210);
  border-radius: 100vw;
}
.section-menus-div-1 {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.section-menus-div-2 {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-top: 1px solid #3d3a3a;
}
.section-menus-div-3 {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-top: 1px solid #3d3a3a;
}
.subscription-title {
  color: rgb(165, 165, 165);
  margin-left: 1.5rem;
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.menu-div {
  display: flex;
  align-items: center;
  color: white;
  height: 42px;
}
.menu-div i {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.menu-div p {
  font-size: 0.9rem;
  margin-left: 1.5rem;
}
.menu-selected {
  background: #3d3a3a;
}
.menu-div:hover {
  background: #3d3a3a;
  cursor: pointer;
}
.div-subscription {
  display: flex;
  align-items: center;
  color: white;
  height: 44px;
}
.div-subscription img {
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
}
.div-subscription p {
  font-size: 0.9rem;
  margin-left: 1.2rem;
}
.div-subscription:hover {
  background: #3d3a3a;
  cursor: pointer;
}
/* 
===================
Section Menus Small
===================
*/
.section-menus-small {
  width: 4.5rem;
  min-height: 91vh;
  background: var(--clr-primary);
  position: fixed;
  top: 3.5rem;
  left: 0;
  display: none;
  padding-top: 0.25rem;
  z-index: 5;
}
.menu-small-div {
  width: 100%;
  height: 4.5rem;
  text-align: center;
  padding: auto 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  color: white;
}
.menu-small-div i {
  font-size: 1.25rem;
}
.menu-small-div p {
  font-size: 0.6rem;
}
.menu-small-div:hover {
  background: #3d3a3a;
  cursor: pointer;
}
/* 
=====================
Section Menus Overlay
=====================
*/
.overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.hide-overlay {
  display: none;
}
.section-menus-overlay {
  width: 15rem;
  height: 100vh;
  background: var(--clr-primary);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 5;
}
.show-menus-overlay {
  transform: translateX(0);
  transition: var(--transition);
}
.section-menus-overlay-top {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-toggle-btn {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1.2rem;
  transition: var(--transition);
}
.section-menus-overlay-bottom {
  width: 100%;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}
.section-menus-overlay-bottom::-webkit-scrollbar {
  width: 0.75rem;
}
.section-menus-overlay-bottom::-webkit-scrollbar-track {
  background: #3d3a3a;
}
.section-menus-overlay-bottom::-webkit-scrollbar-thumb {
  background: rgb(214, 210, 210);
  border-radius: 100vw;
}
/* 
====================
Section Video Filter
====================
*/
.section-video-filter {
  width: calc(100% - 15.75rem);
  height: 3.6rem;
  background: var(--clr-primary);
  position: fixed;
  top: 3.5rem;
  left: 15rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  border-top: 1px solid rgb(99, 98, 98);
  border-bottom: 1px solid rgb(99, 98, 98);
  opacity: 0.99;
  z-index: 5;
}
.section-video-filter::-webkit-scrollbar {
  display: none;
}
.btn-filter-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.btn-filter {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 30px;
  cursor: pointer;
  border: transparent;
  background: #3d3a3a;
  color: white;
  border: 1px solid rgb(99, 98, 98);
  text-transform: capitalize;
}
.active-btn-filter {
  background: white;
  color: black;
  transition: var(--transition);
}
.section-video-filter-btn-left-div {
  width: 60px;
  height: 56px;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(32, 28, 28, 1), rgba(32, 28, 28, 0.8));
  position: fixed;
  display: none;
}
.btn-visible {
  display: grid;
}
.section-video-filter-btn-left {
  height: 34px;
  width: 34px;
  background: transparent;
  border: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition);
}
.section-video-filter-btn-right-div {
  width: 60px;
  height: 56px;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(32, 28, 28, 1), rgba(32, 28, 28, 0.8));
  position: fixed;
  right: 0.75rem;
  display: none;
}
.section-video-filter-btn-right {
  height: 34px;
  width: 34px;
  background: transparent;
  border: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition);
}
/* 
=======================
Section Video container
=======================
*/
.section-video-container {
  width: 100%;
  height: 100%;
  padding: 5rem 1.5rem 0 16.5rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
}
/* Div Video Item */
.div-video-item {
  height: 235px;
  margin-bottom: 2rem;
}
.div-video-item:hover {
  background: var(--clr-primary);
  border-radius: 5px;
  cursor: pointer;
}
.section-video-img-div {
  width: 100%;
  height: 140px;
  position: relative;
}
.section-video-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-video-img-div h5 {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  padding: 0.1rem 0.5rem;
  right: 5px;
  bottom: 5px;
  border-radius: 2px;
}

.section-video-info-div {
  width: 100%;
  height: calc(100% - 140px);
}
.section-video-info-div-top {
  display: flex;
  color: white;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  position: relative;
}
.section-video-info-avater {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}
.section-video-info-div-top h1 {
  font-size: 0.9rem;
  width: calc(100% - 74px);
  height: 38px;
  margin-left: 0.9rem;
  overflow: hidden;
}
.video-option-menu {
  font-size: 1rem;
  align-self: flex-start;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: transparent;
  border: transparent;
  display: grid;
  place-items: center;
  position: absolute;
  top: 5px;
  right: -12px;
  color: rgb(211, 211, 211);
  cursor: pointer;
  display: none;
}
.section-video-info-div-middle {
  display: flex;
  color: rgb(180, 180, 180);
  align-items: center;
}
.section-video-info-div-middle p {
  font-size: 0.9rem;
  margin-left: calc(36px + 0.9rem);
}
.section-video-info-div-middle i {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.section-video-info-div-bottom-title {
  color: rgb(180, 180, 180);
  font-size: 0.9rem;
  margin-left: calc(36px + 0.9rem);
  text-transform: lowercase;
}
.video-item-overlay-icon-watchlater {
  height: 28px;
  width: 28px;
  background: rgba(0, 0, 0, 0.6);
  border: transparent;
  color: white;
  position: absolute;
  border-radius: 2px;
  top: 4px;
  right: 4px;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  display: none;
}
.video-item-overlay-icon-queue {
  height: 28px;
  width: 28px;
  background: rgba(0, 0, 0, 0.6);
  border: transparent;
  color: white;
  position: absolute;
  border-radius: 2px;
  top: 36px;
  right: 4px;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  display: none;
}
.hide-add-to-queue {
  height: 28px;
  width: 110px;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 36px;
  right: 32px;
  border-radius: 2px;
  display: grid;
  place-items: center;
  padding: 0 0.5rem;
  transition: all 0.2s linear;
  transform-origin: right;
  transform: scaleX(0);
}
.show-add-to-queue {
  transition: all 0.1s linear;
  transform-origin: right;
  transform: scaleX(1);
}
.hide-watch-later {
  height: 28px;
  width: 110px;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 4px;
  right: 32px;
  border-radius: 2px;
  display: grid;
  place-items: center;
  padding: 0 0.5rem;
  transition: all 0.2s linear;
  transform-origin: right;
  transform: scaleX(0);
}
.show-watch-later {
  transition: all 0.1s linear;
  transform-origin: right;
  transform: scaleX(1);
}

.video-option-menu-div {
  width: 260px;
  background: var(--clr-primary);
  position: absolute;
  z-index: 6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-option-menu-div-item-top {
  width: 100%;
  padding: 0.5rem 0;
}
.video-option-menu-div-item-bottom {
  width: 100%;
  border-top: 0.5px solid rgb(77, 77, 77);
  padding: 0.5rem 0;
}
.video-option-menu-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 1rem;
}
.video-option-menu-item:hover {
  background: rgb(77, 77, 77);
  /* background: rgb(109, 109, 109); */
}
.video-option-menu-item p {
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: lighter;
}

.no-data-found {
  display: grid;
  place-items: center;
  position: absolute;
  top: 55%;
  left: 45%;
  display: none;
}
.no-data-found p {
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 1130px) {
  .section-video-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .div-video-item {
    height: 275px;
  }
  .section-video-img-div {
    height: 175px;
  }
}
@media screen and (max-width: 870px) {
  .section-video-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 8.3rem;
    padding-right: 4rem;
  }
}
@media screen and (max-width: 550px) {
  .section-video-container {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 8.3rem;
    padding-right: 4rem;
  }
}

@media screen and (max-width: 1310px) {
  .section-menus {
    display: none;
  }
  .section-menus-small {
    display: block;
  }
  .section-video-filter {
    width: calc(100% - 5.25rem);
    left: 4.5rem;
  }
}
