/*
=============== 
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
/*
=============== 
Variables
===============
*/
:root {
  --clr-light-theme-primary: whitesmoke;
  --clr-primary: #2c2b2b;
  --clr-body: rgb(32, 28, 28);
  --clr-blueish : #3EA6FF;
  --clr-border : rgb(99, 98, 98);
  --clr-border-lighter : rgba(99, 98, 98, 0.5);
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  /* New colors */
  --mycolor-body-darkTheme: #181818;
  --mycolor-primary-darkTheme: #202020;
  --mycolor-secondary-darkTheme: #121212;
  --mycolor-hover-darkTheme: #313131;
  --mycolor-hover-lightTheme: #9c9c9c;
  --mycolor-hover-lighter-darkTheme: #4D4D4D;
  --mycolor-hover-lighter-2-darkTheme: #d8d8d8;
  --mycolor-border-darktheme: #373737;
  --mycolor-border-lighter-darktheme: #9c9c9c;
  --mycolor-primary-lightTheme: #ffffff;
  --mycolor-secondary-lightTheme: #F0F0F0;
  --mycolor-secondary-lighter-lightTheme: #d8d8d8;
  --transition-btn: all 0.1s linear;
}
/*
=============== 
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--mycolor-body-darkTheme);
}
.body-light-theme{
  background: var(--mycolor-primary-lightTheme);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
  font-family: var(--ff-primary);
}
/*
=============== 
Main Section
===============
*/
.section-main {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.section-main::-webkit-scrollbar {
  width: 0.75rem;
}
.section-main::-webkit-scrollbar-track {
  background: #3d3a3a;
}
.section-main::-webkit-scrollbar-thumb {
  background: rgb(214, 210, 210);
  border-radius: 100vw;
}
/*
============================================================= 
Navbar Section
=============================================================
*/
.section-navbar {
  width: 100%;
  min-height: 3.5rem;
  background: var(--mycolor-primary-darkTheme);
  opacity: 0.99;
  position: sticky;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: 210px 1fr 230px;
  z-index: 5;
  color: white;
}
.section-navbar-light-theme{
  background: var(--mycolor-primary-lightTheme);
  color: var(--mycolor-primary-darkTheme);
}
/*
===========
Navbar Left 
===========
*/
.navbar-left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-toggle-btn {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 1.2rem;
  transition: var(--transition);
}
.navbar-toggle-btn-light-theme{
  color: var(--clr-primary);
}
.navbar-logo-container {
  display: flex;
  align-items: center;
  margin-left: 1.2rem;
}
.navbar-icon {
  background: transparent;
  border: transparent;
  color: red;
  font-size: 1.7rem;
  margin-top: 0.1rem;
  position: relative;
  z-index: 1;
}
.navbar-icon::before {
  content: "";
  background: white;
  font-size: 1.7rem;
  margin-top: 0.4rem;
  margin-left: 0.4rem;
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: -1;
}
.navbar-logo-container p {
  /* color: white; */
  font-weight: bold;
  text-align: center;
  font-size: 1.3rem;
  margin-left: 0.1rem;
}
.navbar-logo-container sup {
  font-size: 0.6rem;
  font-weight: lighter;
}

/*
=============
Navbar Middle 
=============
*/
.navbar-middle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0.5rem;
  background: var(--mycolor-primary-darkTheme);
}
.navbar-middle-light-theme{
  background: var(--mycolor-primary-lightTheme);
}
.navbar-middle-form {
  flex: 0.7;
  height: 2.5rem;
  margin-left: 0.5rem;
  position: relative;
}
.navbar-search {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 300;
  height: 100%;
  width: 100%;
  border: 1px solid var(--mycolor-border-darkTheme);
  color: var(--mycolor-primary-lightTheme);
  padding-right: 2.5rem;
  background: var(--mycolor-secondary-darkTheme);
}
.navbar-search-light-theme{
  background: var(--mycolor-primary-lightTheme);
  color: var(--mycolor-secondary-darkTheme);
  border: 1px solid var(--mycolor-border-lighter-darktheme);
}
.navbar-search:focus {
  outline: none;
  border: 1px solid var(--clr-blueish);
}
.btn-cross {
  height: 2rem;
  width: 2rem;
  display: grid;
  place-items: center; 
  position: absolute;
  top: 10%;
  right: 1%;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  display: none;
}
.show-btn-cross{
  display: grid;
}
.navbar-btn-search {
  padding: 0 1.25rem;
  border-color: transparent;
  background: var(--mycolor-hover-darkTheme);
  color: var(--mycolor-primary-lightTheme);
  height: 2.5rem;
  cursor: pointer;
  display: grid;
  place-items: center;
}
.navbar-btn-search-click-effect{
  background: var(--mycolor-hover-lighter-darkTheme);
}
.navbar-btn-search-light-theme{
  background: var(--mycolor-secondary-lightTheme);
  color: var(--mycolor-primary-darkTheme);
}
.navbar-btn-search-click-effect-light-theme{
  background: var(--mycolor-secondary-lighter-lightTheme);
}
.navbar-btn-search i {
  font-size: 1.2rem;
  cursor: pointer;
}
.navbar-btn-microphone {
  height: 2.5rem;
  width: 2.5rem;
  border-color: transparent;
  border-radius: 50%;
  background: var(--mycolor-secondary-darkTheme);
  cursor: pointer;
  margin-left: 0.5rem;
  color: var(--mycolor-primary-lightTheme);
  font-size: 1.2rem;
}
.navbar-btn-microphone-light-theme{
  background: var(--mycolor-secondary-lightTheme);
  color: var(--mycolor-secondary-darkTheme);
}
/*
============
Navbar Right 
============
*/
.navbar-right {
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0 1.2rem;
}
.navbar-links {
  display: flex;
  align-items: center;
  width: 100%;
  height: 34px;
  justify-content: space-between;
  margin-right: 0.5rem;
}
.avater-img {
  width: 34px;
  height: 34px;
  border: 2px solid transparent;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
  transition: border 0.2s ease-in;
}
.avater-img-click-effect{
  border: 2px solid var(--clr-blueish);
}
.icon {
  height: 38px;
  width: 38px;
  background: transparent;
  border-radius: 50%;
  font-size: 1.2rem;
  color: var(--mycolor-primary-lightTheme);
  cursor: pointer;
  display: grid;
  place-items: center;
}
.icon-mousedown-effect{
  background: var(--mycolor-hover-lighter-darkTheme);
}
.icon-mouseup-effect{
  animation: mouseup-effect 1s ease-out;
}
@keyframes mouseup-effect {
  0%{
    background: var(--mycolor-hover-lighter-darkTheme);
    border: 1px solid var(--mycolor-border-lighter-darktheme);
  }
  30%{
    background: transparent;
  }
  100%{
    border: transparent;
  }
}
.icon-light-theme{
  color: var(--mycolor-primary-darkTheme);
}
@media screen and (max-width: 800px) {
  .navbar-middle-form {
    display: none;
  }
  .navbar-btn-search {
    height: 2.5rem;
    width: 2.5rem;
    border-color: transparent;
    border-radius: 50%;
    background: #202020;
    cursor: pointer;
    padding: 0 0;
  }
}
@media screen and (max-width: 600px) {
  .navbar-btn-microphone {
    margin-left: 0.25rem;
  }
  .section-navbar {
    grid-template-columns: 195px 1fr 195px;
  }
  .navbar-logo-container p {
    font-size: 1.1rem;
    margin-left: 0.1rem;
  }
  .navbar-middle {
    padding-right: 0.05rem;
    padding-left: 0.95rem;
  }
}

/* Modified element css on small screen */
.show-navbar-middle-form {
  display: block;
  margin-right: 0.5rem;
}
.changed-section-navbar {
  grid-template-columns: 10% 1fr;
  transition: var(--transition);
}
.hide-element {
  display: none;
}
.btn-back {
  /* color: white; */
  font-size: 1.2rem;
  cursor: pointer;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.back-arrow-div {
  display: grid;
  place-items: center;
  display: none;
}
.show-element {
  display: grid;
}
.changed-navbar-middle-form {
  flex: 1;
  margin-left: 0;
}

/*
=============== 
Section Menus
===============
*/
.section-menus {
  width: 15rem;
  height: 91vh;
  background: var(--clr-primary);
  position: fixed;
  top: 3.5rem;
  left: 0;
  overflow: hidden;
  overflow-y: scroll;
  display: block;
  z-index: 5;
}
.hide-element {
  display: none;
}
.section-menus::-webkit-scrollbar {
  width: 0.75rem;
}
.section-menus::-webkit-scrollbar-track {
  background: #3d3a3a;
}
.section-menus::-webkit-scrollbar-thumb {
  background: rgb(214, 210, 210);
  border-radius: 100vw;
}
.section-menus-div-1,
.section-menus-overlay-div-1 {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}
.section-menus-div-2,
.section-menus-overlay-div-2 {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-top: 1px solid #3d3a3a;
}
.section-menus-div-3,
.section-menus-overlay-div-3 {
  width: 100%;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-top: 1px solid #3d3a3a;
}
.subscription-title {
  color: rgb(165, 165, 165);
  margin-left: 1.5rem;
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
  font-weight: lighter;
  text-transform: uppercase;
}
.menu-div {
  display: flex;
  align-items: center;
  color: white;
  height: 42px;
}
.menu-div i {
  font-size: 1.2rem;
  margin-left: 1.5rem;
}
.menu-div p {
  font-size: 0.9rem;
  margin-left: 1.5rem;
}
.menu-selected {
  background: #3d3a3a;
}
.menu-div:hover {
  background: #3d3a3a;
  cursor: pointer;
}
.div-subscription {
  display: flex;
  align-items: center;
  color: white;
  height: 44px;
}
.div-subscription img {
  width: 30px;
  height: 30px;
  margin-left: 1.5rem;
}
.div-subscription p {
  font-size: 0.9rem;
  margin-left: 1.2rem;
}
.div-subscription:hover {
  background: #3d3a3a;
  cursor: pointer;
}
/* 
===================
Section Menus Small
===================
*/
.section-menus-small {
  width: 4.5rem;
  min-height: 91vh;
  background: var(--clr-primary);
  position: fixed;
  top: 3.5rem;
  left: 0;
  display: none;
  padding-top: 0.25rem;
  z-index: 5;
}
.menu-small-div {
  width: 100%;
  height: 4.5rem;
  text-align: center;
  padding: auto 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.6rem;
  color: white;
}
.menu-small-div i {
  font-size: 1.25rem;
}
.menu-small-div p {
  font-size: 0.6rem;
}
.menu-small-div:hover {
  background: #3d3a3a;
  cursor: pointer;
}
/* 
=====================
Section Menus Overlay
=====================
*/
.overlay {
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.hide-overlay {
  display: none;
}
.section-menus-overlay {
  width: 15rem;
  height: 100vh;
  background: var(--clr-primary);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 5;
}
.show-menus-overlay {
  transform: translateX(0);
  transition: var(--transition);
}
.section-menus-overlay-top {
  width: 100%;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay-toggle-btn {
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: transparent;
  border-color: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: var(--transition);
}
.section-menus-overlay-bottom {
  width: 100%;
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
}
.section-menus-overlay-bottom::-webkit-scrollbar {
  width: 0.75rem;
}
.section-menus-overlay-bottom::-webkit-scrollbar-track {
  background: #3d3a3a;
}
.section-menus-overlay-bottom::-webkit-scrollbar-thumb {
  background: rgb(214, 210, 210);
  border-radius: 100vw;
}
/* 
====================
Section Video Filter
====================
*/
.section-video-filter {
  width: calc(100% - 15.75rem);
  height: 3.6rem;
  background: var(--clr-primary);
  position: fixed;
  top: 3.5rem;
  left: 15rem;
  display: flex;
  align-items: center;
  overflow-x: auto;
  border-top: 1px solid var(--clr-border);
  border-bottom: 1px solid var(--clr-border);
  opacity: 0.99;
  z-index: 5;
}
.section-video-filter::-webkit-scrollbar {
  display: none;
}
.btn-filter-container {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.btn-filter {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 30px;
  cursor: pointer;
  border: transparent;
  background: #3d3a3a;
  color: white;
  border: 1px solid var(--clr-border);
  text-transform: capitalize;
}
.active-btn-filter {
  background: white;
  color: black;
  transition: var(--transition);
}
.section-video-filter-btn-left-div {
  width: 60px;
  height: 56px;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(32, 28, 28, 1), rgba(32, 28, 28, 0.8));
  position: fixed;
  display: none;
}
.btn-visible {
  display: grid;
}
.section-video-filter-btn-left {
  height: 34px;
  width: 34px;
  background: transparent;
  border: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition);
}
.section-video-filter-btn-right-div {
  width: 60px;
  height: 56px;
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(32, 28, 28, 1), rgba(32, 28, 28, 0.8));
  position: fixed;
  right: 0.75rem;
  display: none;
}
.section-video-filter-btn-right {
  height: 34px;
  width: 34px;
  background: transparent;
  border: transparent;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 50%;
  transition: var(--transition);
}
/* 
=======================
Section Video container
=======================
*/
.section-video-container {
  width: 100%;
  padding: 5rem 1.5rem 0 16.5rem;
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
}
/* Div Video Item */
.div-video-item {
  max-height: 15rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.div-video-item:hover {
  background: var(--clr-primary);
  border-radius: 5px;
  cursor: pointer;
}

/* video item top part */
.section-video-img-div {
  position: relative;
  max-height: 60%;
}
.section-video-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.section-video-img-div h5 {
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  padding: 0.1rem 0.5rem;
  right: 5px;
  bottom: 5px;
  border-radius: 2px;
}
.video-item-overlay-icon-watchlater {
  height: 28px;
  width: 28px;
  background: rgba(0, 0, 0, 0.6);
  border: transparent;
  color: white;
  position: absolute;
  border-radius: 2px;
  top: 4px;
  right: 4px;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  display: none;
}
.video-item-overlay-icon-queue {
  height: 28px;
  width: 28px;
  background: rgba(0, 0, 0, 0.6);
  border: transparent;
  color: white;
  position: absolute;
  border-radius: 2px;
  top: 36px;
  right: 4px;
  font-size: 1.2rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  display: none;
}
.hide-add-to-queue {
  height: 28px;
  width: 110px;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 36px;
  right: 32px;
  border-radius: 2px;
  display: grid;
  place-items: center;
  padding: 0 0.5rem;
  transition: all 0.2s linear;
  transform-origin: right;
  transform: scaleX(0);
}
.show-add-to-queue {
  transition: all 0.1s linear;
  transform-origin: right;
  transform: scaleX(1);
}
.hide-watch-later {
  height: 28px;
  width: 110px;
  font-size: 0.9rem;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  position: absolute;
  top: 4px;
  right: 32px;
  border-radius: 2px;
  display: grid;
  place-items: center;
  padding: 0 0.5rem;
  transition: all 0.2s linear;
  transform-origin: right;
  transform: scaleX(0);
}
.show-watch-later {
  transition: all 0.1s linear;
  transform-origin: right;
  transform: scaleX(1);
}

/* video item bottom part */
.section-video-info-div {
  max-height: 40%;
  padding-top: 0.5rem;
}
.section-video-info-div-top {
  display: flex;
  color: white;
  align-items: center;
  padding-bottom: 0.5rem;
  position: relative;
}
.section-video-info-avater {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 50%;
  object-fit: cover;
}
.section-video-info-div-top h1 {
  font-size: 0.9rem;
  max-width: calc(100% - 74px);
  height: 2.375rem;
  margin-left: 0.9rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}
.video-option-menu {
  font-size: 1rem;
  align-self: flex-start;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  background: transparent;
  border: transparent;
  display: grid;
  place-items: center;
  position: absolute;
  top: -5px;
  right: -12px;
  color: rgb(211, 211, 211);
  cursor: pointer;
  display: none;
}
.video-option-menu-show {
  display: grid;
}
.section-video-info-div-middle {
  display: flex;
  color: rgb(180, 180, 180);
  align-items: center;
}

.section-video-info-div-middle p {
  font-size: 0.9rem;
  margin-left: calc(36px + 0.9rem);
}
.section-video-info-div-middle i {
  font-size: 0.8rem;
  margin-left: 0.5rem;
}
.section-video-info-div-bottom-title {
  color: rgb(180, 180, 180);
  font-size: 0.9rem;
  margin-left: calc(36px + 0.9rem);
  text-transform: lowercase;
}

.video-option-menu-div {
  width: 260px;
  background: var(--clr-primary);
  position: absolute;
  z-index: 6;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video-option-menu-div-item-top {
  width: 100%;
  padding: 0.5rem 0;
}
.video-option-menu-div-item-bottom {
  width: 100%;
  border-top: 0.5px solid rgb(77, 77, 77);
  padding: 0.5rem 0;
}
.video-option-menu-item {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 1rem;
}
.video-option-menu-item:hover {
  background: rgb(77, 77, 77);
}
.video-option-menu-item p {
  padding-left: 1rem;
  font-size: 0.9rem;
  font-weight: lighter;
}
.no-data-found {
  display: block;
  position: absolute;
  left: 48%;
  top: 55%;
  display: none;
}
.no-data-found p {
  color: white;
  font-size: 2rem;
  display: grid;
  justify-content: center;
}
/* Used css classes on event */
.increase-video-filter-width {
  width: calc(100% - 5.25rem);
  left: 4.5rem;
}
.increase-video-container-width {
  padding: 5rem 1.5rem 2rem 6rem;
}
.show-section-menu-small {
  display: block;
}
.increase-div-video-item {
  max-height: 17rem;
}
.change-no-data-found-position {
  left: 42%;
}

/* User Information Overlay */
.user{
  height: calc(100vh - 0.5rem);
  width: 20rem;
  background: var(--mycolor-primary-darkTheme);
  position: absolute;
  top: 0.5rem;
  right: 5rem;
  z-index: 6;
  border: 1px solid var(--mycolor-border-darktheme);
  display: flex;
  flex-direction: column;
  color: var(--mycolor-primary-lightTheme);
  font-size: 0.95rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
}
.user-light-theme{
  background: var(--mycolor-primary-lightTheme);
  color: var(--mycolor-primary-darkTheme);
  border: 1px solid var(--mycolor-border-lighter-darktheme);
}
.show-user{
  opacity: 0.98;
  height: calc(100vh - 0.5rem);
  transition: opacity 0.1s ease-in;
}
.user-header{
  display: flex;
  border-bottom: 1px solid var(--mycolor-border-darktheme);
}
.user-header-light-theme{
  border-bottom: 1px solid var(--mycolor-border-lighter-darktheme);
}
.user-img-div{
  padding: 1rem;
}
.user-img{
  height: 2.75rem;
  width: 2.75rem;
}
.user-info-div{
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.1rem 0;
  justify-content: space-between;
}
.user-name{
  /* color: white; */
  font-weight: bold;
  font-size: 1rem;
}
.user-info{
  color: var(--clr-blueish);
  font-size: 0.9rem;
}
.user-info p{
  display: inline-block;
  cursor: pointer;
}
.user-main-section{
  flex: 1;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
}
.user-main-section::-webkit-scrollbar {
  width: 0.5rem;
}
.user-main-section::-webkit-scrollbar-track {
  background: #3d3a3a;
}
.user-main-section::-webkit-scrollbar-thumb {
  background: rgb(214, 210, 210);
  border-radius: 100vw;
}
.user-section-div{
  padding: 0.325rem 0;
}
/* user menu item */
.user-menu-item{
  display: flex;
}
.user-menu-hover-dark-theme {
  background: var(--mycolor-hover-darkTheme);
  cursor: pointer;
}
.user-menu-hover-light-theme {
  background: var(--mycolor-hover-lighter-2-darkTheme);
  cursor: pointer;
}
.user-menu-item i:first-child{
  height: 2.5rem;
  width: 3rem;
  font-size: 1.1rem;
  display: grid;
  place-items: center;
  margin-left: 0.25rem;
}
.right-arrow{
  height: 2.5rem;
  width: 3rem;
  font-size: 1rem;
  display: grid;
  place-items: center;
}
.user-menu-item p{
  flex: 1;
  display: grid;
  align-items: center;
  margin-left: 0.25rem;
}
.user-main-section-div-2{
  border-top: 1px solid var(--mycolor-border-darktheme);
}
.user-main-section-div-3{
  border-top: 1px solid var(--mycolor-border-darktheme);
}
.border-light-theme{
  border-top: 1px solid var(--mycolor-border-lighter-darktheme);
}
.restricted-mode{
  padding: 0 1rem;
}

/* Appearance overlay */
/* appearance header */
.appearance{
  width: 18rem;
  height: auto;
  background: var(--mycolor-primary-darkTheme);
  position: absolute;
  top: 3rem;
  right: 1.5rem;
  z-index: 6;
  border: 1px solid var(--mycolor-border-darktheme);
  display: flex;
  flex-direction: column;
  color: var(--mycolor-primary-lightTheme);
  font-size: 0.95rem;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.1s ease-out;
}
.appearance-light-theme{
  background: var(--mycolor-primary-lightTheme);
  color: var(--mycolor-primary-darkTheme);
  border: 1px solid var(--mycolor-border-lighter-darktheme);
}
.show-appearance{
  opacity: 0.98;
  height: auto;
  transition: opacity 0.1s ease-in;
}
.appearance-header{
  display: flex;
  padding: 1rem;
  align-items: center;
}
.appearance-header i{
  font-size: 1.1rem;
  cursor: pointer;
}
.appearance-header p{
  margin-left: 1rem;
  font-size: 1rem;
  cursor: text;
}
/* appearance body */
.appearance-main{
  padding-bottom: 0.5rem;
}
.appearance-top{
  padding: 1.5rem 1rem;
  border-top: 1px solid var(--mycolor-border-darktheme);
  display: grid;
  place-items: center;
}
.appearance-top-light-theme{
  border-top: 1px solid var(--mycolor-border-lighter-darktheme);
}
.appearance-top p{
  font-size: 0.8rem;
}
.appearance-theme-item{
  display: flex;
}
.appearance-hover-dark-theme {
  background: var(--mycolor-hover-darkTheme);
  cursor: pointer;
}
.appearance-hover-light-theme {
  background: var(--mycolor-hover-lighter-2-darkTheme);
  cursor: pointer;
}
.appearance-theme-item i{
  width: 4rem;
  height: 2.5rem;
  font-size: 1.1rem;
  display: grid;
  place-items: center;
}
.appearance-theme-item p{
  font-size: 0.9rem;
  flex: 1;
  display: grid;
  align-items: center;
}
.hide-tick-mark{
  visibility: hidden;
}


@media screen and (max-width: 1320px) {
  .section-menus {
    display: none;
  }
  .section-menus-small {
    display: block;
  }
  .section-video-filter {
    width: calc(100% - 5.25rem);
    left: 4.5rem;
  }
  .section-video-container {
    padding: 5rem 1.5rem 0 6rem;
  }
  .div-video-item {
    max-height: 16.5rem;
  }
  .no-data-found {
    left: 42%;
  }
}
@media screen and (max-width: 1200px) {
  .no-data-found {
    left: 41%;
  }
}
@media screen and (max-width: 1140px) {
  .section-video-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .div-video-item {
    max-height: 17rem;
  }
  .section-video-img-div {
    max-height: 66%;
  }
  .section-video-info-div {
    max-height: 34%;
  }
  .section-video-info-avater {
    width: 2.1rem;
    height: 2.1rem;
  }
  .section-video-info-div-top {
    padding-bottom: 0;
  }
  .section-video-info-div-top h1 {
    font-size: 0.85rem;
    height: 34px;
  }
  .section-video-info-div-middle p {
    font-size: 0.8rem;
  }
  .section-video-info-div-middle i {
    font-size: 0.7rem;
  }
  .section-video-info-div-bottom-title {
    font-size: 0.8rem;
  }
  .no-data-found {
    left: 41%;
  }
  .no-data-found p {
    font-size: 1.9rem;
  }
}
@media screen and (max-width: 1100px) {
  .div-video-item {
    max-height: 16.5rem;
  }
  .no-data-found {
    left: 41%;
  }
  .no-data-found p {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 1050px) {
  .div-video-item {
    max-height: 16rem;
  }
}
@media screen and (max-width: 1000px) {
  .div-video-item {
    max-height: 15.5rem;
  }
  .no-data-found {
    left: 40%;
  }
  .no-data-found p {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 950px) {
  .div-video-item {
    max-height: 15rem;
  }
}
@media screen and (max-width: 900px) {
  .div-video-item {
    max-height: 14.5rem;
  }
  .no-data-found p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 850px) {
  .div-video-item {
    max-height: 14rem;
  }
}
@media screen and (max-width: 870px) {
  .section-video-container {
    grid-template-columns: repeat(2, 1fr);
    padding-left: 8.3rem;
    padding-right: 4rem;
  }
  .div-video-item {
    max-height: 17.5rem;
  }
  .section-video-img-div {
    max-height: 65%;
  }
  .section-video-info-div {
    max-height: 35%;
  }
}
@media screen and (max-width: 790px) {
  .section-menus-small {
    display: none;
  }
  .section-video-filter {
    width: calc(100% - 0.75rem);
    left: 0;
  }
  .section-video-container {
    padding: 5rem 3.5rem 0 3.5rem;
  }
  .no-data-found {
    left: 35%;
  }
}
@media screen and (max-width: 740px) {
  .div-video-item {
    max-height: 17rem;
  }
}
@media screen and (max-width: 700px) {
  .div-video-item {
    max-height: 16.5rem;
  }
  .no-data-found {
    left: 32%;
  }
  .no-data-found p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 650px) {
  .div-video-item {
    max-height: 16rem;
  }
  .section-video-container {
    padding: 5rem 1.75rem 0 1.75rem;
  }
}
@media screen and (max-width: 600px) {
  .div-video-item {
    max-height: 15.5rem;
  }
  .no-data-found p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 550px) {
  .div-video-item {
    max-height: 15rem;
  }
}
@media screen and (max-width: 580px) {
  .section-video-container {
    padding: 5rem 0 0 0;
  }
}
@media screen and (max-width: 500px) {
  .section-video-container {
    grid-template-columns: repeat(1, 1fr);
    padding-left: 5rem;
    padding-right: 5.5rem;
  }
  .div-video-item {
    max-height: 17.5rem;
    margin-bottom: 1rem;
  }
  .no-data-found {
    left: 29%;
  }
  .no-data-found p {
    font-size: 1.4rem;
  }
}
